add these to manifest file:
add uses-permission above application
add meta-data line under application above activity

<manifest>

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application>

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    <activity />
  </application>
</manifest>

